<div style="padding:30px">
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <h1>DevLog</h1>
            <br>
            <p>12/13 搭建左侧菜单路由</p>
            <p>12/14 构建基本列表-模态页面</p>
            <p>12/15 添加mock API、</p>
            <p>12/16 模块复用模式、模块路由优化 </p>
            <p>1/12 基础样式 </p>
            <p>1/13 路由切换过渡</p>
            <p>1/14 滚动监听</p>
            <p>1/15 路由切换事件</p>
            <p>1/15 路由切换scroll记忆消除</p>
            <h1>TODO</h1>
            <br>
            <p>流程编辑器</p>
            <p>路由切换事件</p>
            <p>路由切换scroll记忆消除</p>
            <p>编写开发文档</p>
            <p>封装数据异步加载模块</p>
            <p>可视化插件</p>
            <p>工程化打包测试</p>
            <br>
            <h1>Question</h1>
            <p>反向注入（子模块组件注入父级模块组件的情况）:不要用</p>
            <p>exports的作用</p>
            <p>组件的生命周期</p>
        </div>
        <div nz-col [nzSpan]="12">
            <h1>Document</h1>
            <p>1.根据情况确定是否使用懒加载，不使用懒加载参考 <code>devlog</code> 使用懒加载参考<code>user</code></p>
            <p>2.内容区的样式要在相应的<code>component</code>中定义，可参考 <code>devlog.componment.ts</code> </p>
            <p>3.在模块样式中请与 <code>:host</code> 保持一致</p>
        </div>
    </div>

</div>