<nz-layout style="height:100%">
  <nz-header style="background:#ececec; padding:0;z-index:100;">
    <div style="background-color:#404040;box-shadow: 0px 1px 1px 0px #0000007a, 0px 2px 4px 0px #00000052;">
      <span class="logo" style="color: white;padding: 0px 30px;">大数据前端开发框架演示</span>
      <span style="position: absolute;right: 10px;top: 12px;">
          <nz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'user'" [ngStyle]="{'background-color':'#f56a00'}" ></nz-avatar>          
      </span>

    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
      <div class="logo">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-submenu>
          <span title><i class="anticon anticon-user"></i><span class="nav-text">系统</span></span>
          <ul>
            <li nz-menu-item><a routerLink="devlog" routerLinkActive="active">更新日志</a></li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-api"></i><span class="nav-text" >配置管理</span></span>
          <ul>
            <li nz-menu-item><a routerLink="varible/1" routerLinkActive="active">常量</a></li>
            <li nz-menu-item><a routerLink="varible/2" routerLinkActive="active">计算变量</a></li>
          </ul>
        </li>

        <li nz-submenu>
          <span title><i class="anticon anticon-team"></i><span class="nav-text" >用户管理</span></span>
          <ul>
            <li nz-menu-item><a routerLink="user" routerLinkActive="active">用户</a></li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content [@fadeAnimation]="getRouterOutletState(o)" style="margin:16px 16px 0px 16px;background: #fff;box-shadow: 0px 1px 20px 1px #00000059;z-index:50;border-radius:5px;">
          <router-outlet #o="outlet"></router-outlet>
      </nz-content>
      <nz-footer style="text-align: center;padding:8px;color: #6633994f;">HF Design ©2018 Implement By Unissoft</nz-footer>
    </nz-layout>

  </nz-layout>

</nz-layout>